* {
	box-sizing: border-box;
	flex-wrap: wrap;
	font-family: Gotham SSm A,Gotham SSm B,sans-serif;
	flex-shrink: 1px;
}

body {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0;
	padding-bottom: 1px;
	font-family: Gotham SSm A,Gotham SSm B,sans-serif;
}

nav ul {

    list-style-type: none;
    padding: 8px 16px;
    margin-right: 50px;
    display: inline-block;
    float: right;
    font-size: 20px;
    margin-top: 20px;
}

li {
    display: inline-flex;
    justify-content: right;
    color: grey;
    padding: 8px 16px;
    text-decoration: none;
    transition: transform .2s;
}

li a.active {
    background-color: #4CAF50;
    color: white;
    text-decoration-style:
}

ul li a:hover:not(.active) {
    color: hotpink;
    font-size: 30px;
    font-style: italic;
}


@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
}

#homeIcon a {

	color: #00b5e2;

}

ul li a {
	color: grey;
	text-decoration: none;
}

h1 {
	line-height: 1.2em;
	float: left;
	text-align: left;
	font-size: 40px;
	display: inline-block;
	padding: 8px 16px;
	margin-left: 0px;
}


h1 li a {

	text-decoration: none;

}

h1, h2, p, form, ul, ol, svg {
	
	margin: 10px;
}

ul, ol {
	margin-left: 2em;
}

input[type=text] {
	padding: 0.5em;
	height: 75%;
	width: 100%;
	border: 1px solid #ddd;
	font-size:1.1em;
	display:block;
	text-align: center;
	flex-wrap: flex;
	text-overflow: ellipsis;
	font-style: italic;
}


input[type=submit] {
	padding: 0.5em;
	background-color: white; 
    color: black; 
    border: 2px solid #00b5e2;
	cursor: pointer;
	font-size:1em;
	width: 50%
		    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}


input[type=submit]:hover:not(.active) {
	font-size: 20px;
	    background-color: #00b5e2;
    color: white;
    text-transform: uppercase;

}


#guess, #text {
	margin-bottom: 1em;
	text-align: center;
}

#play {
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: green;
	cursor: pointer;
	font-size:1em;
	width: 50%
	color: white;
	background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
	    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#play:hover {
    background-color: #4CAF50;
    color: white;
    font-size: 30px;
}


#reset {
	font-size: 14px;
}

#reload {

}

#result {
	padding: 1em;
	font-size: 1.3em;
	margin-bottom: 1em;
}

svg {
	border: 1px solid #eee;
}

svg #progress {
	fill: red;
}

.small {
	font-size: 0.8em;
}

form {
	padding: 0.5em;
	height: 100%;
}

/* FOOTER BOXES */
aside {
  	background: #000;
  	float: right;
  	display: inline-flex;
  	padding: 2px;
  	margin-right: 40px;
  	margin-top: 20px;
  	box-sizing: border-box;
  	border-style: solid;
  	border-width: 1px;
  	border-color: #E6E6E6;
  	opacity: 1;

}

content {
position: center;
margin-right: 100%;
margin-left: 25%;
width: 500px;
padding: 1px;
}

#bpmCalculator {
float: left;
width: 50%;
text-align: center;
display:block;
border-style: solid;
border-width: 0.5px;
border-color: grey;
margin-top: 20px;
margin-left: 50px;
padding: 0;
box-sizing: border-box;
position: left;
background-color: #D7D8D8;
opacity: 1;

}

.spotify-embeds {
  width: 100%;
  height: 100%;
  float: right;
  display: inline-flex;
}

.spotify-embed {
  background: #282828;
}
.spotify-embed:not(:last-of-type) {
  margin-bottom: 5px;
}
.spotify-embed iframe {
  transition: opacity 0.125s;
}
.js .spotify-embed iframe {
  opacity: 0;
}
.js .spotify-embed iframe.loaded {
  opacity: 1;
}

footer h3 {
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-size: 80%;
	margin-bottom: 0.5em;
}
